In [28]:
import pandas as pd
from pandas import DataFrame

df = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.11/【解析完了】999999_2018_CS市_特定健診分析結果_20180301.csv')
ex = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.11/ex_除外リスト.csv')
tar = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.11/tar_宛名データ.csv')

In [29]:
ex.head(3)
#宛名番号のみcolumnsがidでない。①idへ変更　②頭のAを除去　③全角？を数値へ変更したい

        宛名番号
0  A０００１４１７３
1  A００１２６０８６
2  A００００９５０９

In [30]:
#①　idへ変更
ex.columns = ['id']
ex.head(1)

          id
0  A０００１４１７３

In [31]:
#② 頭のAを除去
ex1 = ex['id'].str.strip('A')
ex1.head(1)

0    ０００１４１７３
Name: id, dtype: object

In [32]:
ex2 = ex1.astype(int)
ex2.head()

0      14173
1     126086
2       9509
3    9006621
4       2706
Name: id, dtype: int32

In [34]:
ex2 = DataFrame(ex2)
ex2.head(3)

       id
0   14173
1  126086
2    9509

### 除外データ　ex2

In [36]:
#除外
ex_list = df[~df['id'].isin(ex2['id'])]
#抽出
forwarder_list = ex_list[ex_list['id'].isin(tar['id'])]

In [37]:
#確認
set(forwarder_list['id']) & set(ex2['id'])

set()

In [38]:
set(forwarder_list['id']) <= set(tar['id'])

True

In [39]:
#保存
forwarder_list.to_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.11/forwarder_list.csv')