In [1]:
#除外データ　同じ列に2つ除外理由あり（無視してOK？）

In [2]:
import pandas as pd
#分析完了データ、宛名データを読み込む。除外データはcsvでないので後ほど
df = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.8/analays.csv')
print(len(df))
tar = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.8/tar_list.csv')
print(tar.head())

6887
        id
0     4708
1    28769
2    22508
3  6008749
4    29749

In [4]:
#除外データを取り込み、csvへ変更する 列数は937
ex_list = pd.read_excel('C:/Users/otani/Desktop/exclude_work/Ex.8/ex_list.xlsx')
ex_list.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.8/ex_list.csv')
ex_list.head()

   今年度受診者
0  111336
1  354525
2    6005
3  323206
4   47706

In [8]:
#columnsをidへ変更する
ex_list_new = ex_list.rename(columns = {'今年度受診者':'id'})
ex_list_new.head()

       id
0  111336
1  354525
2    6005
3  323206
4   47706

In [9]:
#除外
ex1 = df[~df['id'].isin(ex_list_new['id'])]
len(ex1)

5953

In [10]:
#抽出
forwarder_list = ex1[ex1['id'].isin(tar['id'])]
len(forwarder_list)

4854

In [11]:
#発送者データと除外データに共通のidが含まれていないか確認
set(forwarder_list['id']) & set(ex_list_new['id'])

set()

In [12]:
#発送者データが宛名データに全て含まれているか確認
set(forwarder_list['id']) <= set(tar['id'])

True

In [13]:
#発送者リストを保存
forwarder_list.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.8/forwarder_list.csv')