In [8]:
import pandas as pd
#必要なデータを読み込む。ただし除外データはマクロ形式なので次で処理する

df = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.5/analays.csv')
tar = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.5/tar_list.csv')

In [9]:
df.head()

,id,sex,birthday,age,agegrp,acquire_kkh,acquire_kkh2,loss_kkh,loss_kkh2,vis_prob,...,priority,past1,past2,past3,past4,past5,qty,receipt,segment,rm
0,138255,male,1955/11/21,63,60-64,2015/8/11,2015,NaN,NaN,0.922775,...,1.0,1.0,1.0,1.0,0.0,0.0,3.0,2,B,0
1,410098,male,1952/1/2,67,65-69,2015/10/28,2015,NaN,NaN,0.922770,...,2.0,1.0,1.0,1.0,0.0,0.0,3.0,1,B,0
2,46010,male,1950/3/19,69,65-69,2009/4/1,2009,NaN,NaN,0.929673,...,3.0,1.0,1.0,1.0,1.0,0.0,4.0,2,D,0
3,1970,male,1952/9/27,66,65-69,2012/9/29,2012,NaN,NaN,0.929308,...,4.0,1.0,1.0,1.0,1.0,0.0,4.0,2,A,0
4,25089,female,1955/1/17,64,60-64,2015/4/1,2015,NaN,NaN,0.919146,...,5.0,1.0,1.0,1.0,0.0,0.0,3.0,2,B,1

In [10]:
tar.head()

       id
0  300474
1    7343
2  136572
3    4785
4   16575

In [11]:
#除外データをマクロからcsvファイルへと変換、ファイルに保存する
ex = pd.read_excel('C:/Users/otani/Desktop/exclude_work/Ex.5/ex_list.xlsm', 'ex_list', index_col = None)
ex.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.5/ex_list.csv', encoding = 'utf-8')

In [12]:
#除外データを読み込む
ex1 = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.5/ex_list.csv')
ex1.head()

   Unnamed: 0   今年度受診者     人間ドック       死亡者    国保喪失者
0           0    17632   17948.0   41206.0  15548.0
1           1   408988   16223.0   12709.0  27397.0
2           2  6005247  410778.0     848.0   7108.0
3           3    38699  402529.0  329889.0   2355.0
4           4    28018  145003.0   14750.0  15198.0

In [13]:
#culumnsの名前を変える。
ex1 = ex1.rename(columns = {'今年度受診者':'id_1', '人間ドック':'id_2', '死亡者':'id_3','国保喪失者':'id_4'})

In [18]:
#対象者リストから除外データを除く
df = df[~df['id'].isin(ex1['id_1'])]
df = df[~df['id'].isin(ex1['id_2'])]
df = df[~df['id'].isin(ex1['id_3'])]
df = df[~df['id'].isin(ex1['id_4'])]
#次に宛名データにあるものだけを抽出
forwarder_list = df[df['id'].isin(tar['id'])]

In [19]:
#発送者データと除外データに共通のidが含まれていないか確認
set(forwarder_list['id']) & set(ex1['id_1'])

set()

In [20]:
set(forwarder_list['id']) & set(ex1['id_2'])

set()

In [21]:
set(forwarder_list['id']) & set(ex1['id_3'])

set()

In [23]:
set(forwarder_list['id']) & set(ex1['id_4'])

set()

In [24]:
forwarder_list.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.5/forwarder_list.csv')