In [37]:
import pandas as pd
from pandas import DataFrame
#必要なデータを取り込む
df = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.9/analays.csv')
ex = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.9/ex_list.csv')
tar = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.9/tar_list.csv')

In [38]:
#除外データの先頭にZがあることで適切なキーを拾えない。Zを空欄に置換
ex.head()

           id
0  Z000017889
1  Z000024562
2  Z000007237
3  Z000352929
4  Z000026061

In [39]:
ex["id"][0][1:]

'000017889'

In [40]:
import re

In [41]:
ex1 = ex["id"].apply(lambda x: re.sub('^(Z)+','',x))
ex1.head()

0    000017889
1    000024562
2    000007237
3    000352929
4    000026061
Name: id, dtype: object

In [42]:
ex_list = ex1.astype(int).head()
ex_list.head()

0     17889
1     24562
2      7237
3    352929
4     26061
Name: id, dtype: int32

In [43]:
ex_list.columns = ['Num','id']
ex_list

0     17889
1     24562
2      7237
3    352929
4     26061
Name: id, dtype: int32

In [45]:
#ex_listは除外リスト
ex_list = DataFrame(ex_list)
ex_list.head()

       id
0   17889
1   24562
2    7237
3  352929
4   26061

In [49]:
#除外する
exclude = df[~df['id'].isin(ex_list['id'])]
len(exclude)

6882

In [52]:
#抽出
forwarder_list = exclude[exclude['id'].isin(tar['id'])]
len(forwarder_list)

5807

In [53]:
#発送者データに除外データが含まれていないか確認
set(forwarder_list['id']) & set(ex_list)

set()

In [54]:
#発送者データが宛名データに含まれているか確認
set(forwarder_list['id']) <= set(tar['id'])

True

In [56]:
#保存
forwarder_list.to_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.9/forwarder_list.csv')

In [ ]:
#以下は参考　関係ない

In [35]:
df[['id', 'sex']].head()

       id     sex
0  138255    male
1  410098    male
2   46010    male
3    1970    male
4   25089  female

In [46]:
#キーidでmergeする。
ex_merge = pd.merge(df, ex_list, on = 'id', how = 'right')