In [20]:
import pandas as pd
#解析完了済データを読み込む
df = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.6/analays.csv')
len(df)

6887

In [18]:
#除外データ読み込みでUnicodeDecodeErrorが起きたためuncodingを変更。
ex = pd.read_table('C:/Users/otani/Desktop/exclude_work/Ex.6/ex_list.csv', encoding = 'shift-jis')
ex.head()

    データ管理番号１
0  812634822
1  813013006
2  813020336
3  813008830
4  812635884

In [3]:
#除外データが変換表を用いて通常idへ戻す作業が必要なタイプ。まず変換表読み込む
conv = pd.read_csv('C:/Users/otani/Desktop/exclude_work/conversion_id.csv')

In [4]:
#除外データと変換表をキーを揃えてmergeさせたい。そのため「データ管理番号」をdataidに変更
ex1 = ex.rename(columns={'データ管理番号１':'dataid'})
ex1.head()

      dataid
0  812634822
1  813013006
2  813020336
3  813008830
4  812635884

In [19]:
#キーが揃ったのでmergeさせる。
ex_merge = pd.merge(conv, ex1, on = 'dataid', how = 'right')
len(ex_merge)

981

In [7]:
#対象者リストを読み込む
tar = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.6/tar_list.csv')
tar.head()

       id
0   37351
1   25795
2   12048
3  407358
4   25528

In [14]:
#除外
ex_list = df[~df['id'].isin(ex_merge['id'])]
len(ex_list)

5906

In [15]:
#抽出
forwarder_list = ex_list[ex_list['id'].isin(tar['id'])]
len(forwarder_list)

5192

In [21]:
#発送者データと除外データに共通のidが含まれていないか確認
ex2 = ex.rename(columns={'データ管理番号１':'id'})
set(forwarder_list['id']) & set(ex2['id'])

set()

In [22]:
#発送者データが宛名データに全て含まれているか確認
set(forwarder_list['id']) <= set(tar['id'])

True

In [24]:
#発送者リストをforwarder_listとして保存
forwarder_list.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.6/forwarder_list.csv')