In [1]:
import pandas as pd
#対象者リストをdfとして取り込む。その後行数を確認。

df = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.4/analays.csv')
len(df)

6887

In [2]:
#除外者データをcsvファイルに変更し、exとして取り込む

ex = pd.read_excel('C:/Users/otani/Desktop/exclude_work/Ex.4/exclude.xls', 'ex_list', index_col = None)
ex.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.4/exclude.csv', encoding = 'utf-8')

In [3]:
#除外者データの列名が個人番号でcsvに変更した時文字化け。「個人番号」をidに変更させる
#除外者データのculumnsが直ってるか確認

ex1 = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.4/exclude.csv')
ex1.columns = ['Num','id'] #一列目がcsv変更した際に数値が入ってしまうので2行目をidへ
ex1.head()

   Num      id
0    0    6125
1    1  201798
2    2  305502
3    3  121624
4    4  404469

In [4]:
#宛名データをcsvファイルに変更し、tar_listとして取り込む

tar = pd.read_excel('C:/Users/otani/Desktop/exclude_work/Ex.4/tar_list.xls', 'tar_list', index_col = None)
tar.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.4/tar_list.csv', encoding = 'utf-8')

In [5]:
#宛名データの列名が個人番号でcsvに変更した時文字化け。「個人番号」をidに変更させる
#宛名データの行数を確認

tar1 = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.4/tar_list.csv')
tar1.columns = ['Num','id'] #一列目がcsv変更した際に数値が入ってしまうので2行目をidへ
tar1.head()

   Num       id
0    0    55320
1    1   306348
2    2     2510
3    3  9011752
4    4    24504

In [9]:
#対象者リストから除外者データを削除
ex_list = df[~df['id'].isin(ex1['id'])]
#宛名データに含まれるか確認（抽出）
forwarder_list = ex_list[ex_list['id'].isin(tar1['id'])]

In [10]:
#発送者データと除外データに共通のidが含まれていないか確認
set(forwarder_list['id']) & set(ex1['id'])

set()

In [11]:
#発送者データが宛名データに全て含まれているか確認
set(forwarder_list['id']) <= set(tar1['id'])

True

In [12]:
#発送者リスト「forwarder」で保存
forwarder_list.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.4/forwarder_list.csv')