In [30]:
import pandas as pd
from pandas import DataFrame
import numpy as np

In [31]:
#必要なデータを読み込む
df = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.10/【解析完了】999999_2018_CS市_特定健診分析結果_20180301.csv', encoding = 'utf-8')
ex = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.10/ex_除外リスト.csv', encoding = 'cp932')
tar = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.10/tar_宛名データ.csv', encoding = 'cp932')

In [32]:
ex.head(3) #除外データのみ　①キーが異なる　②idが頭に文字＋途中に-がある　処理したい

         宛名番号
0  Z000404-39
1  Z000028-56
2  Z000331-49

In [33]:
ex.columns = ['id']
ex.head(2)

           id
0  Z000404-39
1  Z000028-56

In [34]:
a = ex['id'][0][1:]
a

'000404-39'

In [35]:
ex1 = ex['id'].str.strip('Z')
ex1.head(3)

0    000404-39
1    000028-56
2    000331-49
Name: id, dtype: object

In [36]:
ex2 = ex1.str.replace('-', '')
ex2.head(2)

0    00040439
1    00002856
Name: id, dtype: object

In [41]:
ex3 = ex2.astype(int)
ex3.head()
ex_list = DataFrame(ex3)
ex_list.head(3)

      id
0  40439
1   2856
2  33149

In [42]:
# 除外データの調整終了。ex3が有効なid

In [48]:
#除外
ex_list1 = df[~df['id'].isin(ex_list['id'])]
#抽出
forwarder_list = ex_list1[ex_list1['id'].isin(tar['id'])]

In [49]:
len(ex_list1)

6816

In [55]:
len(forwarder_list)

5527

In [56]:
#発送者データに除外データが含まれていないか確認
set(forwarder_list['id']) & set(ex_list['id'])

set()

In [57]:
#発送者リストが宛名データの中に含まれているか
set(forwarder_list['id']) <= set(tar['id'])

True

In [58]:
#保存
forwarder_list.to_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.10/除外済みデータ.csv')