In [2]:
import pandas as pd
#分析完了データ読み込む
df = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.15/analays.csv')
len(df)

6887

In [3]:
#1つ目の除外データを読み込む
ex1 = pd.read_excel('C:/Users/otani/Desktop/python/exclude_work/Ex.15/ex_list1.xlsx','Sheet1', index_col = None)
ex1.to_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.15/ex_list1.csv', encoding = 'utf-8')

In [4]:
ex1 = pd.read_csv('C:/Users/otani/Desktop/python/exclude_work/Ex.15/ex_list1.csv')
ex1.head()

   Unnamed: 0   個人番号
0           0  24258
1           1  30786
2           2  36464
3           3  27058
4           4   3390

In [5]:
#culumnsの名前を変える。
ex1 = ex1.rename(columns = {'個人番号':'id'})

In [6]:
#2つ目の除外データのうち、国保資格喪失者を読み込む
ex2 = pd.read_excel('C:/Users/otani/Desktop/python/exclude_work/Ex.15/ex_list2.xlsx','国保資格喪失者', index_col = None)
ex3 = pd.read_excel('C:/Users/otani/Desktop/python/exclude_work/Ex.15/ex_list2.xlsx','施設入居者', index_col = None)
ex4 = pd.read_excel('C:/Users/otani/Desktop/python/exclude_work/Ex.15/ex_list2.xlsx','死亡者', index_col = None)

In [69]:
ex2.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.15/ex_list2.csv', encoding = 'utf-8')
ex3.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.15/ex_list3.csv', encoding = 'utf-8')
ex4.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.15/ex_list4.csv', encoding = 'utf-8')

In [70]:
#ex2と4はcolumns名が個人番号、ex3は数値
ex3.head()

   131698
0      84
1   29842
2  338180
3    7885
4   18696

In [71]:
ex2 = ex2.rename(columns = {'個人番号':'id'})
ex4 = ex4.rename(columns = {'個人番号':'id'})
#ex3については数値を文字列に変えてからidへ変更する

In [81]:
ex3_1 = ex3.rename(columns = lambda x: 'id')
ex3_1.head()

       id
0      84
1   29842
2  338180
3    7885
4   18696

In [82]:
#対象者データdfに対して除外データex1～ex4までを一つずつmergeする。
ex1_merge = pd.merge(df, ex1, on = 'id', how = 'right')
len(ex1_merge)

487

In [92]:
ex2_merge = pd.merge(df, ex2, on = 'id', how = 'right')
len(ex2_merge)

141

In [84]:
ex3_merge = pd.merge(df, ex3_1, on = 'id', how = 'right')
len(ex3_merge)

150

In [89]:
ex4_merge = pd.merge(df, ex4, on = 'id', how = 'right')
len(ex4)

131

In [98]:
#対象者リストから除外データを除く
df = df[~df['id'].isin(ex1_merge['id'])]
df = df[~df['id'].isin(ex2_merge['id'])]
df = df[~df['id'].isin(ex3_merge['id'])]
df = df[~df['id'].isin(ex4_merge['id'])]
df.head()

,id,sex,birthday,age,agegrp,acquire_kkh,acquire_kkh2,loss_kkh,loss_kkh2,vis_prob,...,priority,past1,past2,past3,past4,past5,qty,receipt,segment,rm
0,138255,male,1955/11/21,63,60-64,2015/8/11,2015,NaN,NaN,0.922775,...,1.0,1.0,1.0,1.0,0.0,0.0,3.0,2,B,0
1,410098,male,1952/1/2,67,65-69,2015/10/28,2015,NaN,NaN,0.922770,...,2.0,1.0,1.0,1.0,0.0,0.0,3.0,1,B,0
2,46010,male,1950/3/19,69,65-69,2009/4/1,2009,NaN,NaN,0.929673,...,3.0,1.0,1.0,1.0,1.0,0.0,4.0,2,D,0
3,1970,male,1952/9/27,66,65-69,2012/9/29,2012,NaN,NaN,0.929308,...,4.0,1.0,1.0,1.0,1.0,0.0,4.0,2,A,0
5,37619,female,1955/2/12,64,60-64,2014/12/22,2014,NaN,NaN,0.912276,...,7.0,1.0,1.0,1.0,0.0,0.0,3.0,2,D,0

In [99]:
#対象者を読み込む
tar = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.15/tar_list.csv')

In [100]:
#抽出
forwarder_list = df[df['id'].isin(tar['id'])]
len(forwarder_list)

4843

In [101]:
#発送者データと除外データに共通のidが含まれていないか確認
set(forwarder_list['id']) & set(ex1_merge['id'])

set()

In [102]:
set(forwarder_list['id']) & set(ex2_merge['id'])

set()

In [103]:
set(forwarder_list['id']) & set(ex3_merge['id'])

set()

In [104]:
set(forwarder_list['id']) & set(ex4_merge['id'])

set()

In [105]:
#発送者データが宛名データに全て含まれているか確認
set(forwarder_list['id']) <= set(tar['id'])

True

In [106]:
#発送者リストをforwarder_listとして保存
forwarder_list.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.15/forwarder_list.csv')