In [15]:
import pandas as pd
#対象者データ、除外データを読み取る
df = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.3/analays.csv')
ex = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.3/exclude.csv')

In [16]:
len(df)

6887

In [17]:
ex.head()

       id
0   10945
1  400636
2  354707
3   17894
4    8848

In [18]:
#宛名データを取り込む
tar = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.3/tar_list.csv')

In [19]:
tar.head()

       id
0  400738
1   44241
2  344246
3   45371
4   54528

In [20]:
#対象者リストから除外者を排除し、発送者の人数を表示
ex1 = df[~df['id'].isin(ex['id'])]
print(len(ex))
#宛名データに対象者リストが含まれるものを抽出
forwarder_list = ex1[ex1['id'].isin(tar['id'])]
print(len(forwarder_list))

869
5289

In [21]:
#発送者データと除外データに共通のidが含まれていないか確認
set(forwarder_list['id']) & set(ex['id'])

set()

In [22]:
#発送者データが宛名データに全て含まれているか確認
set(forwarder_list['id']) <= set(tar['id'])

True

In [23]:
#発送者リストファイルを保存する
forwarder_list.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.3/forwarder_list.csv')