In [8]:
import pandas as pd
#分析完了データ、宛名データを読み込む。除外データはcsvでないので次で読み込む
df = pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.7/analays.csv')
tar= pd.read_csv('C:/Users/otani/Desktop/exclude_work/Ex.7/tar_list.csv')
#両方キーはidでOK
len(df)

6887

In [2]:
#除外データの死亡者を読み込み
ex_death = pd.read_excel('C:/Users/otani/Desktop/exclude_work/Ex.7/ex_death.xlsx', 'Sheet1', index_col = None)
ex_death.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.7/ex_death.csv')
#分析完了のキーがidのためcolumns を修正
ex_death = ex_death.rename(columns = {'個人番号': 'id'})
len(ex_death)

345

In [3]:
#除外データの今年度新規国保加入者を読み込み
ex_join_thisyear = pd.read_excel('C:/Users/otani/Desktop/exclude_work/Ex.7/ex_join_thisyear.xlsx', 'ex_join_thisyear', index_col = None)
ex_join_thisyear.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.7/ex_join_thisyear.csv')
#分析完了のキーがdataidためcolumns　を修正
ex_join_thisyear = ex_join_thisyear.rename(columns = {'データ管理番号１': 'dataid'})
ex_join_thisyear.head()

      dataid
0  813000025
1  813017278
2  813031803
3  812631348
4  813009103

In [4]:
#idへ変更する必要があるため変更表を読み込む
conv = pd.read_csv('C:/Users/otani/Desktop/exclude_work/conversion_id.csv')
conv.head()

       id     dataid
0  138255  812899125
1  410098  812627282
2   46010  812991370
3    1970  813035410
4   25089  813012291

In [5]:
#mergeさせて新規国保の除外者データを得る
ex_join_merge = pd.merge(conv, ex_join_thisyear, on = 'dataid', how = 'right')
ex_join_merge.head()

      id     dataid
0  14727  813022653
1  35696  813001684
2  21367  813016013
3   2536  813034844
4   1989  813035391

In [6]:
print(len(ex_join_merge))

444

In [7]:
#分析完了データから①死亡者と②新規国保のデータを除外する
first_ex = df[~df['id'].isin(ex_death['id'])]
len(first_ex)

6542

In [9]:
second_ex = first_ex[~first_ex['id'].isin(ex_join_merge['id'])]
len(second_ex)

6098

In [10]:
#抽出
forwarder_list = second_ex[second_ex['id'].isin(tar['id'])]
len(forwarder_list)

5092

In [11]:
#発送者データと除外データに共通のidが含まれていないか確認(死亡者)
set(forwarder_list['id']) & set(ex_death['id'])

set()

In [12]:
#発送者データと除外データに共通のidが含まれていないか確認(今年度加入者)
set(forwarder_list['id']) & set(ex_join_merge['id'])

set()

In [13]:
#発送者データが宛名データに全て含まれているか確認
set(forwarder_list['id']) <= set(tar['id'])

True

In [14]:
#forwarder_listでファイルに保存
forwarder_list.to_csv('C:/Users/otani/Desktop/exclude_work/Ex.7/forwarder_list.csv')